fastapi
uvicorn[standard]
python-multipart
python-dotenv
firebirdsql
pdfplumber
pandas
openpyxl
xlrd
google-generativeai
apscheduler
langgraph
langchain-google-vertexai
langchain-community
langgraph-checkpoint-sqlite
langchain-google-genai
